*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 250px;
    height: 300px;
    position: relative;
    border-radius: 15px;
    background-image: url('img-1.jpg');
    background-size: cover;
    margin: 1rem;
    transition: width 2s, height 2s, transform 2s;
}

.card:hover{
    transform: scale(1.1);
}

.card::before{
    content: '';
    color: #fff;
    background: #2a252593;
    border-radius: 15px;
    position: absolute;
}

.content-card{
    position: relative;
    top: 35%;
    left: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-title{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-weight: 800;
}

.line{
    width: 45%;
    height: 3px;
    margin-top: 8px;
    background: #ff0000;
}

.card-text{
    color: #fff;
    font-size: 11.5px;
}

.card-link{
    color: #fff;
    text-decoration: none;
    background: #ff0000;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 6px;
}

